* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.square{
    text-align: center;
    width: calc(100% / 4);
    padding: 10px 0 10px 0;
}

.square > *{
    padding: 3px 0 3px 0;
}

.square > img{
    height: 250px;
}

.flexmore{
    display: flex;
    flex-wrap: wrap;
}
