* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.square{
    background-color: pink;
    border: 2px solid black;
    text-align: center;
}

.square > *{
    padding: 5px 0 5px 0;
}

.square > img{
    height: 250px;
}

